.todo-footer {
    height: 40px;
    line-height: 40px;
    padding-left: 6px;
    margin-top: 5px;
}

.todo-footer label {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.todo-footer label input {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-left: 5px;
}

.todo-footer button {
    float: right;
    margin-top: 5px;
    background: #f6ebf4;
    margin-right: 5px;
}


